
  <mat-card>
  <div class="usuario">
    <!-- <h1>Hola{{usuarioMostrar}}</h1> -->
    <!-- <button type="submit"routerLink="/logout" mat-icon-button class="btn"
    mat-raised-button #tooltip="matTooltip"
    matTooltip="Log Out"
    matTooltipPosition="right"
    aria-tooltip="Button that displays and hides a tooltip triggered by other">
      <mat-icon>logout</mat-icon>
    </button > -->
  </div>
    <mat-tab-group [color]="'Black'" [backgroundColor]="'primary'" animationDuration="0ms">
      <mat-tab label="Recibidos" routerLink="/received"><app-received-message></app-received-message></mat-tab>
      <mat-tab label="Enviados" routerLink="/sent"><app-sent-message></app-sent-message></mat-tab>
      <mat-tab label="Nuevo Mensaje" routerLink="/new"><app-new-message></app-new-message></mat-tab>
    </mat-tab-group>
  </mat-card>
