.mensaje{

  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #6d6a6a;


}

.ancho{
align-items: center;
  justify-content: center;
  width:80%;
  height:50px;
  margin:5px;
}

.mensaje1{

  width:80%;

  min-height:100%;
  // margin: 0 100px ;
  background-color: #6d6a6a;

}
.spinner{
  margin:0 auto;
}
