<p>new-message works!</p>
<div class="mensaje">
  <mat-spinner diameter="50" *ngIf="loading" class="spinner"></mat-spinner>
  <div class="mensaje1" *ngIf="!loading">
    <mat-card>
      <form  [formGroup]="form" (ngSubmit)="SendMsj()">
        <mat-grid-list cols="6" rowHeight="60px">
          <mat-grid-tile [colspan]="3" [rowspan]="1">
            <mat-form-field color="accent" class="ancho">
              <mat-select formControlName="remitente" multiple>
                <mat-option *ngFor="let diary of diary" [value]="diary.name">{{diary.user_name}} </mat-option>
              </mat-select>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="3" [rowspan]="1">
            <button type="button" mat-raised-button color="primary" class="ancho alto">Agregar</button>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="6" [rowspan]="2">
            <mat-form-field appearance="fill" color="accent" class="ancho alto" hintLabel="Max 144 characters" appearance="fill">
              <mat-label></mat-label>
              <textarea matInput #input maxlength="144" placeholder="Escriba su Mensaje" formControlName="mensaje"></textarea>
              <mat-hint align="end">{{input.value?.length || 0}}/144</mat-hint>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="6" [rowspan]="1">
            <button type="submit" mat-raised-button
            color="primary" class="ancho alto"
            style="align-items: flex-end;"  [disabled]="form.invalid" >enviar</button>
          </mat-grid-tile>
        </mat-grid-list>
      </form>
    </mat-card>
  </div>
</div>
