<p>received-message works!</p>
<!-- <div class="recibidos">
  <div class="recibidos1">
    <h1>la cantidad de mensajes es {{mensajes.length}} {{usuarioMostrar}} </h1> -->
    <!-- <div *ngFor="let usuario of usuarioMostrar">
      <h3>{{usuarioMostrar}}</h3>
    </div> -->
    <!-- <table mat-table [dataSource]="dataSource" class="mat-elevation-z8"> -->

      <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column -->
        <!-- <ng-container matColumnDef="remitente">
          <th mat-header-cell *matHeaderCellDef> remitente </th>
          <td mat-cell *matCellDef="let element" > {{element.remitente}} </td>
        </ng-container> -->

        <!-- Name Column -->
        <!-- <ng-container matColumnDef="fecha">
          <th mat-header-cell *matHeaderCellDef> fecha</th>
          <td mat-cell *matCellDef="let element"> {{element.fecha}} </td>
        </ng-container> -->

        <!-- Weight Column -->
        <!-- <ng-container matColumnDef="mensaje">
          <th mat-header-cell *matHeaderCellDef> mensaje </th>
          <td mat-cell *matCellDef="let element"> {{element.mensaje}} </td>
        </ng-container> -->

        <!-- Symbol Column -->
        <!-- <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef></th>
          <td class="pointer" mat-cell *matCellDef="let element ;let i = index " style="text-align:right;">
            <a (click)="eliminarMensaje(i)" matTooltip="Eliminar"
            matTooltipPosition="left"
            aria-tooltip="Button that displays and hides a tooltip triggered by other">
              <mat-icon>delete</mat-icon>
            </a>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>
 -->
