<div class="header">
  <mat-toolbar style="justify-content: space-between;">
    <span>My App </span>
    <div class="title" style="justify-content: space-between;display: flex;gap: 20px;">
      <h1 *ngIf='login'>Hola:{{usuarioMostrar}}</h1>
      <button type="submit" routerLink="/logout" mat-icon-button class="btn"
      mat-raised-button #tooltip="matTooltip"
      matTooltip="Log Out"
      matTooltipPosition="right"
      aria-tooltip="Button that displays and hides a tooltip triggered by other"
      (ngSubmit)='logout()'
      *ngIf='!login'>
      <mat-icon>logout</mat-icon>
      </button >
    </div>
  </mat-toolbar>
</div>
